SUBSYSTEM=="usb", ATTRS{idVendor}=="5824",ATTRS{idProduct}=="1503", MODE:="666"
KERNEL=="hidraw*", ATTRS{idVendor}=="5824", ATTRS{idProduct}=="1503", MODE="0660", GROUP="plugdev"
