[Unit]
Description=Enka Signal Lights Service
After=network.target

[Service]
WorkingDirectory=home/welp/EnkaSignalLights
ExecStart=/usr/bin/npm start
Restart=on-failure
User=welp

[Install]
WantedBy=multi-user.target